.overly{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 4;
    background: rgba(0,0,0,0.5);
}
.slides-navigation{
    z-index: 6;
}
.slides-navigation .prev,
.slides-navigation .next{
   height: 47px;
   width: 47px;
   background-size: cover;
   background-repeat: no-repeat;
    
}

.slides-navigation a.prev{
    left: 20px;
    background-image: url(../img/icons/prev.png);
}

.slides-navigation a.next{
    right: 20px;
    background-image: url(../img/icons/next.png);
}

.tittlemessage{
    width: 100%;
    height: 250px;
    top: 40%;
    position: absolute;
    color: white;
    z-index: 5;
    text-align: center;
}

.tittlemessage .heading h4.main{
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 7px;
    
}

.tittlemessage .heading p.sub{
     font-size: 20px;
    font-weight: 100;
    letter-spacing: 7px;
}

#navigation{
    background: #e74c3c;
    padding: 10px;
}

#navigation li a{
    color: #fff;
}
.navbar-brand,.navbar-brand:hover{
    color: #fff;
}

.navbar-toggler-icon{
    background: url(../img/icons/menu.png);
    background-size: 100%;
}

div.section{
    padding: 100px 0;
}

.aboutImage{
    max-width: 100%;
}

.skillSection{
    background: #e74c3c;
    color: #fff;
}

.skills{
    text-align: center;
    left: 10px;
}
.chart{
    position: relative;
    height: 152px;
    width: 152px;
    display: inline-block;
}
canvas{
position: absolute;
left:0;
top:0;
}

.percent{
    font-size: 35px;
    color: #000;
    line-height: 152px;
    text-align: center;
}
.percent:after{
    content: '%';
}

.squareItem{
    position: relative;
    margin-top: 30px;
}

.squareInnerContainer{
    position: relative;
    padding: 50px 15px 35px;
    border: 2px solid #444;
    text-align: center;
    border-top: none;
}
.squareInnerContainer:before,
.squareInnerContainer:after{
    content: '';
    position:absolute;
    width: 30%;
    border-top: 2px solid #444;
    top:0;
}
.squareInnerContainer:before{
    left: 0;
}

.squareInnerContainer:after{
    right: 0;
}
.squareIcons{
    position: absolute;
    width: 40%;
    font-size: 60px;
    top:-40px;
    left: 50%;
    margin-left: -45px;
}



.squareCntent h4{
    font-size: 70px;
    color: #e74c3c;
    
}
.contactSection{
    background: #e74c3c;
    color: #fff;
}
.contactButton{
    border: 1px solid #fff;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    color: #fff;
    
}

.contactSection a{
   text-decoration: none; 
}

.contactButton:hover{
    background: #fff;
    color: #e74c3c;
}
.filter a{
   border: 1px solid #bdc3c7;
   padding: 10px 20px;
   display: block;
   color: #95a5a6;
    
}

.filter li{
    display: inline-block;
    padding: 5px;
}
.filter .current{
    background: #e74c3c;
    color: silver;
    border-color:#e74c3c; 
}
.filter{
    text-align: center;
    width: 100%;
}
.portfolioSection .headings{
    text-align: center;
    width: 100%;
    padding: 40px;
}
.itemContainer{
    width: 100%;
}
.items li img{
    width: 100%;
    
    -webkit-transition: all 0.2s linear,1s;
   -moz-transition: all 0.2s linear,1s;
   -o-transition: all 0.2s linear,1s;
   -ms-transition: all 0.2s linear,1s;
   -transition: all 0.2s linear,1s;
}
.items li{
    display: inline-block;padding: 5px;
}
.items .item{
    position: relative;
    display: block;
    overflow: hidden;
}
.items .icons{
    position: absolute;
    height: 40px;
    width: 90px;
    top: 50%;
    left: 50%;
    z-index: 3;
    margin: -20px auto  0 -35px;
    
}
.items .icons a{
    color: #fff;
    background:#e74c3c;
    height: 35px;
    width: 35px;
    position: relative;
    display: inline-block;
    text-align: center;font-size: 15px;
    margin: 5px;
    padding: 5px;
    
    -webkit-transition: all 0.2s linear,0.4s;
   -moz-transition: all 0.2s linear,0.4s;
   -o-transition: all 0.2s linear,0.4s;
   -ms-transition: all 0.2s linear,0.4s;
   -transition: all 0.2s linear,0.4s;
}
.items .imageOverlay{
   height: 100%;
   width: 100%;
   background: rgba(0,0,0,0.5);
   display: block;
   position: absolute;
   top: 0;
   right: 0;
   opacity: 0;
   
   -webkit-transition: all 0.2s linear,1s;
   -moz-transition: all 0.2s linear,1s;
   -o-transition: all 0.2s linear,1s;
   -ms-transition: all 0.2s linear,1s;
   -transition: all 0.2s linear,1s;
}
.items .item:hover .imageOverlay{
    opacity: 1;
}
.items .item .openButton{
    float: left;
    left: -300px;
}

.items .item .projectLink{
    float: left;
    right: -300px;
}

.items .item:hover .openButton{
   left: 0px;
}
.items .item:hover .projectLink{
   right: 0px;
}
.items .item:hover img{
    transform: scale(1.05,1.05);
}
.items{
    padding: 0;
}
.footerSection{
    background: #000;
    color: #fff;
    padding: 30px;
}

.loader{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #fff;
    top: 0;
    left:0;
    z-index: 1000;
}
.loader .inner{
    width: 100%;
    height: 100%;
    background: url(../img/loader.gif) center center no-repeat;
}
@media only screen and (min-width:320px) and (max-width:768px){
    .squareIcons{
        left:50%!important;
    }
}
